<form>
  <label >
    Nome:
    <input type="text" name="nome" ngModel>
  </label>
  <br>

  <label >
    Masculino:
    <input type="radio" name="sexo" value="Masculino" ngModel>
  </label>
  <br>

  <label >
    Feminino:
    <input type="radio" name="sexo" value="Feminino" ngModel>
  </label>
  <br>

  <label >
    Outros:
    <input type="radio" name="sexo" value="Outros" ngModel>
  </label>
  <br>

  <label >
    Angular:
    <input type="checkbox" name="angular" ngModel>
  </label>
  <br>

  <label >
    Vue:
    <input type="checkbox" name="vue" ngModel>
  </label>
  <br>

  <label >
    React:
    <input type="checkbox" name="react" ngModel>
  </label>
  <br>

</form>
